#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .nav-collapse.collapse
          ul.nav
            li.active
              a(href="/") 首页
            li
              a(href="/") 我的阅读
            li
              a(href="/") 我的关注
            li
              a(href="/") 寻找和发现