#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .nav-collapse.collapse
          ul.nav
            li(class="#{pageName=='index'?'active':''}")
              a(href="/") 随阅网
            li(class="#{pageName=='detail'?'active':''}")
              a(href="/yw") 阅微APP
            li(class="#{pageName=='about'?'active':''}")
              a(href="/yw/about") 关于“阅微”