#header .navbar .navbar-inner{background:#fff;border-bottom:1px solid #f7f7f7;-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);}
#header .navbar .navbar-inner li.active a{background:#f1f1f1;box-shadow:none;}
#header .navbar .navbar-inner a{padding:15px 30px 15px;color:#666;text-shadow:none;}
#content{padding-top:70px;}#content .wrapper{width:940px;margin:0 auto;}#content .wrapper h1.art_title{font-size:24px;}
